{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" hx-preserve="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" hx-preserve="true">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}" hx-preserve="true">
    <script src="{% static 'main/js/htmx.bundle.js' %}" hx-preserve="true"></script>
    {% block head %}
    {% endblock %}
</head>
<body hx-ext="head-support">
    <div class="body-wrapper">
    <nav hx-boost="true" hx-target="#content">
        <a href="{% url 'main:powerbi' %}">Power BI</a>
        <a href="{% url 'main:mapa_calor' %}">Mapa de Calor</a>
        <a href="{% url 'main:double_checker' %}">Double Checker</a>
    </nav>
    <main id="content">
        {% block content %}
        {% endblock %}
    </main>
    </div>
</body>
</html>