{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" style="height: 100%; width: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="{% static 'admin/js/map.js' %}" defer></script>
    <title>Map Verification</title>
</head>
<body style="height: 100%; width: 100%">
    <div id="map" style="height: 100%; width: 100%"></div>
    {% csrf_token %}
    <script id="locations-data" type="application/json">
        {{ locations_json|safe }}
    </script>
</body>
</html>